.type01 {border-top:1px solid #888; max-width: 750px !important}
.type01 th, .type01 td {padding:12px 0;}
.type01 th {background-color:#eaeaea; color:#333;}
.type01 td {border-bottom:1px solid #eee;}
.type01 td td {border:0;}

.MsoNormalTable {width: 750px !important}

.list_eng {font-size:12px;} 

