<?xml version='1.0' encoding='EUC-KR'?>
<xmlMenu>
<!-- menui  title=메뉴타이틀 link=링크경로 target=브라우저타겟설정 -->
<menu1  title="CEO인사말" link="/company/sub1.htm"  target='_self' />
<menu2  title="회사연혁" link="/company/"  target='_self' />
<menu3  title="경영이념" link="/company/"  target='_self' />
<menu4  title="조직도" link="/company/"  target='_self' />
<menu5  title="협력업체" link="/company/"  target='_self' />
 </xmlMenu>
