@charset "utf-8";
/* *******************************************************
 * filename : new.css
 * description : 메인 레이아웃 및 컨텐츠 CSS
 * date : 2024-04-01
******************************************************** */

:root{
  --primary-color: #DB1C21;
	--primary-button-color: #291E98;
	--primary-button-hover-color: #5938B7;
	--secondary-button-color: #111;
	--secondary-button-hover-color: #291E98;
	--disabled-button-color: #E1E1E1;
	--disabled-button-text-color: #989898;
	--point-button-color: #DB1C21;
	--point-button-hover-color: #ED2928;
	--point-color: #1C0C81;
	--arrow-disabled: #E1E1E1;
	--line-color: #ddd;
	--line-color-dark: #333;
	--text-color: #626262;
	--text-color-darken: #111;
	--text-color-sub2: #8BF3F5;
	--error-color: #DB1C21;
}

/* typography */
h2{font-size: 54px; font-weight: 600;}
h3{font-size: 48px; font-weight: 600;}
h4{font-size: 36px; font-weight: 600;}
h5{font-size: 34px; font-weight: 600;}
h6{font-size: 30px; font-weight: 600;}
.text-xxl{font-size: 28px; font-weight: 600;}
.text-xl{font-size: 24px;}
.text-lg{font-size: 22px;}
.text-md{font-size: 18px;}
.text-rg{font-size: 16px;}
.text-sm{font-size: 15px;}
.text-xs{font-size: 14px;}
.text-xxs{font-size: 13px;}
strong,
.strong{font-weight: 600;}

/* color */
.text-white{color: white;}
.text-primary{color: var(--primary-color);}
.text-point{color: var(--point-color);}
.text-darken{color: var(--text-color-darken);}

.fill-primary{background-color: var(--primary-color);}
.fill-point{background-color: var(--point-color);}
.fill-darken{background-color: var(--text-color-darken);}

/* button */
.button{display: inline-flex; justify-content: center; align-items: center; padding: 0 28px; min-height: 42px; border-radius: 2px; background-color: var(--primary-button-color); color: white; font-size: 16px; white-space: nowrap; box-sizing: border-box;}
.button:hover{
	background-color: var(--primary-button-hover-color); color: white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.button.type-secondary{background-color: var(--secondary-button-color);}
.button.type-secondary:hover{background-color: var(--secondary-button-hover-color);}
.button.type-point{background-color: var(--point-button-color);}
.button.type-point:hover{background-color: var(--point-button-hover-color);}
.button .icon{display: inline-block; width: 20px; height: 20px;}

.button:disabled,
.button.disabled{background-color: var(--disabled-button-color); color: var(--disabled-button-text-color); pointer-events: none;}

.button.type-round{min-height: unset; padding: unset; border-radius: 100%;}

.button.type-line{background-color: transparent; border: 1px solid white;}

.button.fluid{width: 100%;}

.button.size-sm{padding: 0 24px; min-height: 32px; font-size: 13px;}
.button.size-lg{padding: 0 48px;}
.button.size-xl{min-height: 66px; font-size: 24px; font-weight: 600; border-width: 2px;}

.more-view{position: relative; width: 24px; height: 24px;}
.more-view::before,
.more-view::after{content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white;}
.more-view::before{width: 1px; height: 7px;}
.more-view::after{width: 7px; height: 1px;}

/* button-layout */
.button-layout{display: flex; width: 100%;}
.button-layout.center{justify-content: center;}

/* helper */
.extra{flex-shrink: 0; margin-left: auto;}
.split-container{display: flex;}
.split-container.align-center{align-items: center;}
.split-container > :first-child{flex-grow: 1;}

.margin-top-xxl{margin-top: 60px;}

.margin-center{margin-right: auto; margin-left: auto;}

/* header */
#gnb.each-menu > ul > li .gnb-2dep ul li .gnb-3dep{margin-top: 18px;}
#gnb.each-menu > ul > li .gnb-2dep ul li .gnb-3dep li{position: relative; margin-top: 8px; padding: unset; padding-left: 17px; color: white; opacity: .6; transition: unset;}
#gnb.each-menu > ul > li .gnb-2dep ul li .gnb-3dep li::before{content: ""; position: absolute; top: 50%; left: 8px; width: 4.3px; height: 4.3px; border-radius: 1px; transform: translateY(-50%) rotateZ(-45deg); background-color: #fff;}
#gnb.each-menu > ul > li .gnb-2dep ul li .gnb-3dep li:hover{opacity: 1;}

/* sitemap */
.sitemap-wrapper > ul > li > h2,
.sitemap-wrapper > ul > li .sitemap-2dep a em,
.sitemap-wrapper > ul > li .sitemap-2dep .sitemap-3dep li a{font-weight: 600;}
.sitemap-wrapper > ul > li .sitemap-2dep .sitemap-3dep{padding: 15px 20px; background-color: #F7F7F7;}
.sitemap-wrapper > ul > li .sitemap-2dep .sitemap-3dep li:not(:first-child){margin-top: 12px;}
.sitemap-wrapper > ul > li .sitemap-2dep .sitemap-3dep li a{padding: unset; text-align: left; letter-spacing: -.5px;}
.sitemap-wrapper > ul > li .sitemap-2dep .sitemap-3dep li a:hover{color: var(--primary-color);}

/* main */
section{position: relative; width: 100%;}
section.full-height{height: 100dvh;}
.main-visual-items{position: relative; width: 100%; height: 100%;}
.visual-item{position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; background: #fff url() no-repeat 50% 50%; text-align: center; color: #fff; opacity:0;filter:Alpha(opacity=0); visibility:hidden;  transition: opacity 2.5s cubic-bezier(.23,1,.32,1), visibility 2.5s cubic-bezier(.23,1,.32,1);}
.visual-item .item-bg{
  width:100%;
	height:100%;
	-ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1); 
    -moz-transform: scale(1.1,1.1); 
    -webkit-transform: scale(1.1,1.1); 
    transform: scale(1.1,1.1);
	-webkit-transition:transform 5000ms  ease-in-out ;
	-moz-transition:transform 5000ms ease-in-out ;
	-o-transition:transform 5000ms ease-in-out ;
	-ms-transition:transform 5000ms ease-in-out ;
  transition:transform 3000ms ease-in-out ;
}
  
.visual-item .text-wrap{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%;}
.visual-item .deco-icon,
.visual-item .sub-title,
.visual-item h3,
.visual-item .desc,
.visual-item .line{
	opacity:0;filter:Alpha(opacity=0);
	-ms-transform: translateY(-50px); 
    -o-transform: translateY(-50px); 
    -moz-transform: translateY(-50px);
    -webkit-transform: translateY(-50px); 
		transform: translateY(-50px);
	-webkit-transition:opacity 0.5s, transform 1.0s;
	-moz-transition:opacity 0.5s, transform 1.0s;
	-o-transition:opacity 0.5s, transform 1.0s;
	-ms-transition:opacity 0.5s, transform 1.0s;
	transition:opacity 0.5s, transform 1.3s;
}

.visual-item .deco-icon{display: inline-block; margin-bottom: 30px;}
.visual-item .sub-title{font-size: 24px; margin-bottom: 14px;}
.visual-item .sub-title span{color: var(--primary-color);}
.visual-item h3{margin-bottom: 24px;}
.visual-item .desc{font-size: 18px; margin-bottom: 34px; color: rgba(255, 255, 255, 0.7); font-weight: 300; -webkit-transition-delay:0.3s;-moz-transition-delay:0.3s;-o-transition-delay:0.3s;-ms-transition-delay:0.3s;transition-delay:0.3s;}
.visual-item .line{display: inline-block; width: 3px; height: 35px; background-color: #fff; -webkit-transition-delay:0.5s;-moz-transition-delay:0.5s;-o-transition-delay:0.5s;-ms-transition-delay:0.5s;transition-delay:0.7s;}

.visual-item.active{opacity:1;filter:Alpha(opacity=100); visibility:visible;}
.visual-item.active .item-bg{
  opacity:1;filter:Alpha(opacity=100); visibility:visible; z-index: 3;
  -ms-transform: scale(1.0,1.0) rotate(0.002deg);
    -o-transform: scale(1.0,1.0) rotate(0.002deg);
    -moz-transform: scale(1.0,1.0) rotate(0.002deg);
    -webkit-transform: scale(1.0,1.0) rotate(0.002deg);
    transform: scale(1.0,1.0) rotate(0.002deg);
	opacity:1.0;filter:Alpha(opacity=100);
	visibility:visible;
}

.visual-item.active .deco-icon,
.visual-item.active .sub-title,
.visual-item.active h3,
.visual-item.active .desc,
.visual-item.active .line{
	opacity:1.0;filter:Alpha(opacity=100);
	-ms-transform: translateX(0px); 
    -o-transform: translateX(0px); 
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px); 
    transform: translateX(0px);
}


.side-menu{display: flex; justify-content: space-between; align-items: center; gap: 20px; position: absolute; bottom: 14%; left: 50%; transform: translateX(-50%); width: 100%; max-width: 1112px;}
.side-menu-item{position: relative; flex: 1 1 23.7%; max-width: 263px; padding-top: 13.4%; max-height: 149px; background: url() no-repeat 50% 50%; overflow:hidden;}
.side-menu-item .item-bg{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.side-menu-item p{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; font-size: 18px; font-weight: 600; color: #fff; text-align: center;}

/* 사이드 컨텐츠 :: 이미지 확대  */
@media all and (min-width:800px){
	.side-menu-item .item-bg img {
		-ms-transform: scale(1.0,1.0) rotate(0.002deg);
		-o-transform: scale(1.0,1.0) rotate(0.002deg);
		-moz-transform: scale(1.0,1.0) rotate(0.002deg);
		-webkit-transform: scale(1.0,1.0) rotate(0.002deg);
    transform: scale(1.0,1.0) rotate(0.002deg);
	}
  .side-menu-item:hover .item-bg img {
		-ms-transform: scale(1.1,1.1);
		-o-transform: scale(1.1,1.1); 
		-moz-transform: scale(1.1,1.1); 
		-webkit-transform: scale(1.1,1.1); 
    transform: scale(1.1,1.1);
		-webkit-transition:transform 800ms  ease-in-out ;
		-moz-transition:transform 800ms ease-in-out ;
		-o-transition:transform 800ms ease-in-out ;
		-ms-transition:transform 800ms ease-in-out ;
		transition:transform 800ms ease-in-out ;	
	}
}

.about-slides{display: flex; justify-content: space-between; margin-top: 134px;}
.autoplay-slider{flex: 0 1 50%; position: relative; padding-bottom: 30px;}
.autoplay-slider .slider{display: flex; align-items: center; gap: 10px; max-width: 750px;}
.autoplay-slider .item{flex-grow: 0; display: flex; justify-content: center; align-items: center; max-width: 650px; max-height: 300px; overflow: hidden; background: url() center/cover no-repeat;}
.autoplay-slider .item img{width: 100%; height: 100%;}
.autoplay-slider .slick-arrow{flex-shrink: 0; width: 40px; height: 40px;}
.autoplay-slider .material-icons{font-size: 40px; color: var(--arrow-disabled);}
.autoplay-slider .material-icons:hover{color: var(--primary-color);}
.autoplay-slider .controller{display: flex; justify-content: center; align-items: center; gap: 10px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 100%;}
.autoplay-slider .progress-wrapper{display: flex; align-items: center; justify-content: center; gap: 10px;}
.autoplay-slider .progress-bar{width: 70px; height: 5px; background-color: #ddd;}
.autoplay-slider .bar{display: block; width: 0%; height: 100%; background-color: var(--primary-color);}
.autoplay-slider .player{width: 20px; height: 20px;}
.autoplay-slider .player:hover .material-icons{color: var(--primary-color);}
.autoplay-slider .player .material-icons{display: none; color: #989898; font-size: 20px;}
.autoplay-slider .player.play .play{display: block;}
.autoplay-slider .player.pause .pause{display: block;}
.total-results-wrap{width: 100%; padding: 28px 0 104px; background-color: #F7F7F7;}
.total-results{margin-bottom: 20px; padding: 16px 0; border-bottom: 1px solid var(--line-color);}

.result-count{font-size: 16px; font-weight: 600; color: black;}
.result-count span{color: var(--primary-color);}

/* 테이블 */
.flex-table-wrapper + .flex-table-wrapper{margin-top: 36px;}

.table-title{display: flex; align-items: flex-end; gap: 10px; margin-bottom: 10px; padding: 9px 0;}
.table-title .title{font-size: 24px; color: var(--text-color-darken);}

.flex-table{width: 100%; border-top: 1px solid var(--line-color-dark); font-size: 16px;}
.flex-table .row{display: flex; max-width: 100%; box-sizing: border-box; border-bottom: 1px solid var(--line-color);}
.flex-table .row.table-header{color: black;}
.flex-table .row.table-header .col{min-height: 56px;}
.flex-table .row.table-header .col.size-full p{text-align: center;}
.flex-table .col{flex-shrink: 0; display: flex; align-items: center; max-width: 100%; min-height: 76px; padding: 8px; box-sizing: border-box;}
.flex-table .col.size-sm{width: 80px;}
.flex-table .col.size-md{width: 160px;}
.flex-table .col.size-lg{width: 220px;}
.flex-table .col.size-full{flex: 1 1 auto;}
.flex-table .col a:not(.button),
.flex-table .col p{display: inline-block; width: 100%; text-align: center; line-height: 1.5;}
.flex-table .col.size-full a:not(.button),
.flex-table .col.size-full p{text-align: left;}

/* 문의하기 */
.main-inquiry{display: flex; gap: 70px; margin-top: 32px;}
.main-inquiry .inquiry-wrapper{width: 45.33%;}
.main-inquiry .inquiry-wrapper .extra-info{margin-top: 20px;}

.main-inquiry .agreement-wrapper{width: 50%;}
.main-inquiry .forms{padding-right: 32px;}

.forms{display: flex; align-items: center; padding: 16px 0; border-bottom: 1px solid rgba(255, 255, 255, 0.4);}
.forms.required label::after{content: "*"; font-size: 16px; color: var(--text-color-sub2);}

.main-inquiry .forms label{flex-shrink: 0; display: inline-block; position: relative; width: 68px; margin-right: 15px; font-size: 16px; font-weight: 600; color: white;}
.main-inquiry .forms i{display: inline-block; font-size: 24px; color: white; margin-right: 30px;}
.main-inquiry .forms input,
.main-inquiry .forms select{flex: 1 1; background-color: transparent; border:0; color: rgba(255,255,255,0.6); height: 38px; padding: 6px 0; font-size: 16px; color: white; box-sizing: border-box;}
.main-inquiry .forms input::placeholder {color: rgba(255,255,255,0.5); font-size:16px; letter-spacing:-0.5px;}
.main-inquiry .forms input::-webkit-input-placeholder  {color: rgba(255,255,255,0.5); font-size:16px; letter-spacing:-0.5px;}
.main-inquiry .forms input::-ms-input-placeholder {color: rgba(255,255,255,0.5); font-size:16px; letter-spacing:-0.5px;}

.main-inquiry .forms fieldset{display: flex; align-items: center; gap: 5px;}
.main-inquiry .forms fieldset em{font-size: 15px; font-weight: 500; color: white;}
.main-inquiry .forms fieldset input,
.main-inquiry .forms fieldset select{flex: 0 1; min-width: 160px; border: 1px solid white; background-color: rgba(255, 255, 255, 0.4);}

.main-inquiry .forms.flag-error fieldset input,
.main-inquiry .forms.flag-error fieldset select{border-color: var(--error-color); color: rgba(219, 28, 33, .5);}

.form-group{display: flex; gap: 16px;}
.form-group > .forms{flex: 1 1 auto;}

.main-inquiry .agreement-tit-box{display: flex; justify-content: space-between; align-items: center;}
.main-inquiry .ox input[type="checkbox"] {display:none; 	-webkit-appearance:none; /* 화살표 없애기 for chrome*/ 
	-moz-appearance:none; /* 화살표 없애기 for firefox*/ 
	appearance:none; /* 화살표 없애기 공통*/ 
	-webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0; border-radius:0;}
.main-inquiry .ox label{display: inline-flex; align-items: center; gap: 7px; position:relative; font-size: 16px; font-weight: 600; color: white; opacity: .7;}
.main-inquiry .ox input[type="checkbox"]:checked + label {color:#21c4cc; opacity: 1;}
.main-inquiry .text-area {margin-top:20px; position:relative; background-color: rgba(255,255,255,0.33);  border:1px solid rgba(255,255,255,0.4); -webkit-border-radius:;-moz-border-radius:;-o-border-radius:;border-radius:10px; width:100%; height:278px; padding: 24px; -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }

.main-inquiry .text-area .main-textarea-txt {position:absolute; top:24px; left:24px; color:#fff; font-size:16px; letter-spacing:-0.75px; z-index:0;}
.main-inquiry .text-area .main-textarea-txt i {color: rgba(255,255,255,0.8); margin-right:6px; }
.main-inquiry .text-area .main-textarea-txt span {font-size:15px; color: rgba(255,255,255,0.75); margin-left: 7px;}
/* .main-inquiry .text-area textarea:focus + .main-textarea-txt,
.main-inquiry .text-area textarea:placeholder-shown + .main-textarea-txt{display: none;} */
.main-inquiry .text-area textarea {position:relative; z-index:10;width:100%; height:100%;  color:#fff; background-color: transparent; border:0; resize:none; }
.main-inquiry .contact{display: flex; justify-content: flex-end; align-items: center; gap: 10px; width: 100%; margin-top: 12px; font-size: 16px; color: white;}
.main-inquiry .contact dt{font-weight: 600;}
.main-inquiry .contact dd a{color: white;}
.main-inquiry .main-form-btn{margin-top: 30px;}
.main-inquiry .main-form-btn:hover {background-color:rgba(0,0,0,0.1); -webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;} */
