small{display: block; font-size: 16px; margin-top: 8px;}
.guide{max-width: 1500px; margin: 50px auto;}
.guide-list li{border-bottom: 1px solid #333;}
.guide-list li.finish a{color: var(--primary-color);}
.guide-list li.pc-finish a{color: var(--secondary-color);}
.guide-list li a{display: flex; padding: 15px; align-items: center; font-size: 24px;}
.guide-list li span{padding-right: 15px; margin-right: 15px; border-right: 1px solid #333;}
.guide-title{font-size: 40px; margin: 32px 0;}

.guide > table{width: 100%;}
.guide > table tr{border-bottom: 1px solid #000;}
.guide > table tr:first-child{border-top: 1px solid #000;}
.guide > table tr.fill-darken th,
.guide > table tr.fill-darken td{color: white; border-color: #fff;}
.guide > table td,
.guide > table th{padding: 10px; text-align: center; vertical-align: middle; border-right: 1px solid #000; font-size: 16px;}
.guide > table td:first-child,
.guide > table th:first-child{border-left: 1px solid #000;}